<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-left text-muted">
        <p>BSides Oslo is a independent, community-driven inclusive information security conference. A part of the global Security BSides network, the conference creates a space for members of the information security community to come together and share their knowledge and experiences. BSides Oslo is intended for anyone working with, studying with or is interested in security.</p>

        <p>The first annual BSides Oslo was held in <a href="https://2019.bsidesoslo.no">2019</a>. This year's event will be held at Vulkan Arena (Vulkan 26), on May 13th, 2020.</p>
        <p>The <a href="/#cfp">call for presenters</a> is curently open, and we invite anyone who would like to contribute to submit their presentations</p>
        <p>BSides Oslo is a non-profit conference, and is currently looking for sponsors. For more information, please review <a href="/#sponsors">the sponsorship section</a>.
        </p>
      </div>
    </div>
  </div>
</section>
