<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-left text-muted">
        <p>BSides Oslo is a independent, community-driven inclusive information security conference. A part of the global Security BSides network, the conference creates a space for members of the information security community to come together and share their knowledge and experiences. BSides Oslo is intended for anyone working with, studying with or is interested in security.</p>

	<p>The first annual BSides Oslo was held in <a href="https://2019.bsidesoslo.no">2019</a>. The 2020 event was supposed to be in May 2020, but due to the Covid-19 pandemic it was first postponed to November 2020, then May 2021 and finally May 2022. BSides Oslo 2021 has instead gone digital and the first (and hopefully last, as really prefer to meet in person) BSides Oslo Digital Edition will be held {{ site.date }} for our current ticket holders.</p>
	<p>As we are an event for the community, all talks at our conferences are recorded and available on <a href="{{ site.youtube_channel }}">YouTube</a></p>
	<p>BSides Oslo is a non-profit conference, and there are still some sponsor opportunities. For more information, please review <a href="/#sponsors">the sponsorship section</a>.
        </p>
      </div>
    </div>
  </div>
</section>
