<section id="covid" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-heading">Covid-19 FAQ</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-8 col-offset-2 text-muted">
		    <p class="large">Due to the Covid-19 pandemic, BSides Oslo 2020 was postponed. With the new date now set to {{site.date}}, you might have some questions. We'll try to answer your questions in this section.</p>
	    </div>
	</div>
	<div class="row">
	    <div class="col-8 col-offset-2 text-left">
		    <p><b>Has the conference been moved?</b><br>Nope, it's still at {{ site.location}}.</p>
		    <p><b>I bought a ticket, is it still valid?</b></br>Sure is, all tickets bought for the original date is valid for the new date.</p>
		    <p><b>I haven't bought a ticket, will you open up ticket sales again?</b></br>Due to current restrictions for bigger gathering like ours, we are waiting to open up ticket sales. It will re-open at a later date, though potentially with limited tickets, depending on government restrictions.</p>
		    <p><b>Is it safe?</b></br>The safety and security of the conference participants is the most important thing to us. We're following the government recommendations closely, and will take all precautions for the conference.</p>
		    <p><b>The new date doesn't work for me. What's your return policy?</b></br>Refund until 4 weeks before the event, minus the Deltager.no fees. Send us an  <a href="mailto:{{site.emails.info}}">e-mail</a> for more info.</p>
		    <p>If your questions wasn't answered, <a href="mailto:{{site.emails.info}}">feel free to e-mail us</a>.
		    <p class="small">Updated: 26.06.2020</p>
            </div>
        </div>
    </div>

</section>

