<section id="covid" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-heading">Covid-19 Information</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-8 col-offset-2">
                <p class="large">Due to growing concerns surrounding the outbreak of the Covid-19 virus, we've decided to postpone BSides 2020 until November.</p><p class="large">This decision does not come lightly and we've been monitoring the situation closely for the last few week. Even though our event is small the health, safety and well-being of our patrons is paramount. We will continue working with our sponsors, partners and the community to make sure the conference will be worth the wait.</p>
                <p class="large">We won't be cancelling tickets, and we thank you for your continued support. Information about our refund policy is available <a href="https://www.deltager.no/Bsidesoslo2020">here</a>. If you have any questions surrounding this decision, <a href="mailto:{{ site.emails.info}}"> just e-mail us</a>. </p>
            </div>
        </div>
    </div>

</section>

