<section id="covid" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-heading">BSides Oslo 2021 goes digital!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-muted">
		    <p class="large">Due to the continued uncertainty surrounding the Covid-19 pandemic, and the restrictions in Oslo, it’s sadly becoming apparent that doing a BSides Oslo in the spring of 2021 won’t be possible either. As the organizers were discussing whether or not to postpone, we also had to decide when to postpone to. As a result, we’ve made the difficult decision to postpone the physical event to May 2022.</p>

		    <p class="large">We understand that this comes as a huge disappointment to the ticket holders, speakers, sponsors and everyone else in the community who've been looking forward to gathering at BSides Oslo in May 2021, and believe us when we say we’re just as disappointed. We’ve tried to identify every possible way we could still have the conference, but with restrictions being what they are, and wanting to have a safe and secure conference for everyone involved, there really was no way for us to have the conference.</p>

		    <p class="large">The community is and has always been the most important part of BSides Oslo, and none of this would be possible without your continued support. All ticket holders for BSides Oslo will be able to attend the 2022 conference. In addition we want to thank you for your continued support by making BSides Oslo 2021 digital.</p>

		<p class="large">We hope this comes as consolation for yet another delay. Your continued support means the world to us, and we will work tirelessly to make sure that when we finally gather in 2022, it’s going to be well worth the wait.</p>

		<p class="large">If you have any questions about BSides Oslo Digital Edition, or BSides Oslo 2022 please have a look at the FAQ:</p>

	    </div>
	</div>
	<div class="row">
	    <div class="col-sm-10 col-sm-offset-1 text-left">
		    <p><b>What was the date for BSides Oslo Digital Edition?</b></br>It's on the 8th of June.</p>
		    <p><b>I bought a ticket, is it still valid?</b></br>Sure is, all tickets bought for the original date is valid for BSides Oslo Digital Edition on {{ site.date }} as well as BSides Oslo 2022.</p>
		    <p><b>I haven't bought a ticket yet, will you open up ticket sales again?</b></br>We won’t reopen ticket sales for 2021 at this point, but ticket sales will start for BSides Oslo 2022 when the date approaches. Follow us on <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a> for announcements about ticket sales for BSides Oslo 2022 starts.</p>
		    <p><b>I don't have a ticket, will I be able to see the talks somehow?</b></br>Yes, we will stream the event <a href="{{site.youtube_livestream}}">live to YouTube</a>, and afterwards the talks will be uploaded to our <a href="{{ site.youtube_channel }}">YouTube channel</a>. Comment, like and subscribe!</p>
		    <p><b>What's the date for BSides Oslo 2020?</b></br>At this point we can only say it's May 2022, sorry.</p>
		    <p><b>The new date doesn't work for me and/or I'm sick of waiting. What's your return policy?</b></br>We understand, no hard feelings. Tickets are refunded until 4 weeks before BSides Oslo 2022, minus the Deltager.no fees. Send us an <a href="mailto:{{ site.emails.returns }}">e-mail</a> for more info.</p>
		    <p>If your questions wasn't answered, <a href="mailto:{{site.emails.returns}}">feel free to e-mail us</a>.
		    <p class="small">Updated: 07.06.2021</p>
            </div>
        </div>
    </div>

</section>

