<section id="sponsors" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Sponsors</h2>
        <span class="text-left">
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center text-muted">
        <p class="large">BSides Oslo is a non-profit conference, and relies on sponsorships. If you or your company wish to sponsor the event, several sponsorship packages are available. For more information, please read our <a href="{{ site.baseurl }}/files/BSides_Oslo_2020_Sponsorship.pdf">sponsorship document</a>.</p>
        <p class="large">If you have any questions regarding sponsorship, please contact us at <a href="mailto:{{ site.emails.sponsors}}">{{ site.emails.sponsors }}</a></p>
      </div>
    </div>
  </div>
</section>

