<section id="sponsors" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-heading">Sponsors</h2>
        <span class="text-left">
        </span>
      </div>
    </div>
    {% if site.data.sponsors.gold != null -%}
    <div class="row">
	    <div class="col-sm-12 text-center">
		    <h3 class="section-subheading text-muted sponsor-tier">Gold Sponsors</h3>
	    </div>
    </div>
        {% assign rows = site.data.sponsors.gold.size | divided_by: 2.0 | ceil -%}
        {% for i in (1..rows) -%}
        {% assign offset = forloop.index0 | times: 2 -%}
        <div class="row sponsors-list">
            {% for sponsor in site.data.sponsors.gold | limit:2 offset:offset -%} 
            <div class="col-xs-6 text-center"><a href="{{ sponsor.url }}"><img src="{{ site.baseurl }}/img/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}" /></a></div>
            {% endfor %}
        </div>
            {% endfor %}
    {% endif %}

    {% if site.data.sponsors.standard != null -%}
    <div class="row">
	    <div class="col-lg-12 text-center">
		    <h3 class="section-subheading text-muted sponsor-tier">Standard Sponsors</h3>
	    </div>
    </div>
        {% assign rows = site.data.sponsors.standard.size | divided_by: 3.0 | ceil -%}
        {% for i in (1..rows) -%}
        {% assign offset = forloop.index0 | times: 3 -%}
        <div class="row sponsors-list">
            {% for sponsor in site.data.sponsors.standard | limit:3 offset:offset -%} 
            <div class="col-xs-4"><a href="{{ sponsor.url }}"><img src="{{ site.baseurl }}/img/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}" /></a></div>
            {% endfor -%}
        </div>
            {% endfor -%}
    {% endif -%}

    {% if site.data.sponsors.community != null -%}
    <div class="row">
	    <div class="col-lg-12 text-center">
		    <h3 class="section-subheading sponsor-tier text-muted">Community Sponsors</h3>
	    </div>
    </div>
        {% assign rows = site.data.sponsors.community.size | divided_by: 4.0 | ceil -%}
        {% for i in (1..rows) -%}
        {% assign offset = forloop.index0 | times: 4 -%}
        <div class="row sponsors-list">
            {% for sponsor in site.data.sponsors.community | limit:4 offset:offset -%} 
            <div class="col-xs-3"><a href="{{ sponsor.url }}"><img src="{{ site.baseurl }}/img/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}" /></a></div>
            {%- endfor -%}
        </div>
            {% endfor -%}
    {% endif -%}

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center text-muted">
      <p class="large">We'd like to thank our sponsors for their continued support of BSides Oslo Digital Edition and BSides Oslo 2022.</p>
        <p class="large">BSides Oslo is a non-profit conference, and relies on sponsorships. If you or your company wish to sponsor the event, community sponsorship packages are still available. For more information, please read our <a href="{{ site.baseurl }}/files/BSides_Oslo_2020_Sponsorship.pdf">sponsorship document</a>.</p>
        <p class="large">If you have any questions regarding sponsorship, please contact us at <a href="mailto:{{ site.emails.sponsors}}">{{ site.emails.sponsors }}</a></p>
      </div>
    </div>
  </div>
</section>

