<!-- Speakerso Grid Section -->
    <section id="speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Speakers</h2>
		    {% if site.talks == false %}
                    <h3 class="section-subheading text-muted">We haven't started announcing speakers yet, stay tuned.</h3>
		    {% endif %}
                </div>
            </div>
	    {%- assign sorted_talks = site.talks | sort: "scheduled" -%}
            {%- for talk in sorted_talks -%}
	    {%- assign modulo = forloop.index | modulo: 3 -%}
            {%- if modulo == 0 -%}
            <div class="row">
	    {%- endif -%}
	    	{%- for speaker in talk.speakers -%}
                <div class="col-md-4 col-sm-6 speaker-item">
			<a href="{{ talk.url }}" class="speaker-link">
			<div class="image" style="background-image: url({{ site.baseurl }}/img/speakers/{{ speaker.image }});" alt="{{ speaker.name }}"></div>
                    <div class="speaker-caption">
                        <h4>{{ speaker.name }}</h4>
			<p class="text-muted">{{ talk.title }}</p>
                    </div>
                    </a>
                </div>
		{%- endfor -%}
	    {%- if modulo == 0 -%}
            </div>
	    {%- endif -%}
            {%- endfor -%}
        </div>
    </section>
