/*
 * Stylesheet for Bsides Oslo splash page 
 *
 *
 *
*/

/* Font Stuff */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

body {
	background: #fff;
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-family: 'Nunito Sans';
	text-align: center;
}

#content {
	width: 100%;
	height: 400px;
	background: url('../images/Splash_medium.png') center top no-repeat;
	padding-top: 350px;
}

a {
	text-decoration: none;
	color: #000;
}

h1 {
	margin: 0.5em 0 0 0;
	padding: 0;
}
h2{
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	padding: 0 0.2em 0 0.2em;
}
